.developers {
    padding-bottom: 200px;

    @include a (laptop) {
        padding-bottom: 150px;
    }

    @include a (tablet) {
        padding-bottom: 100px;
    }

    @include a (mobile) {
        padding-bottom: 50px;
    }

    &__title {
        font-size: toRem(54);
        font-weight: 700;
        color: $dark-color;
        text-align: center;
        margin-bottom: 57px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 140px;

        @include a (laptop) {
            margin-bottom: 120px;
        }

        @include a (tablet-xl) {
            margin-bottom: 100px;
        }

        @include a (tablet) {
            margin-bottom: 75px;
        }

        @include a (mobile) {
            margin-bottom: 50px;
        }

        @include a (tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        background-color: #fff;
        border-radius: 16px;
        max-width: 378px;
        width: 100%;
        padding: 24px;

        &-descr {
            font-size: toRem(16);
            line-height: 24px;
            color: $dark-color;
            display: block;
            margin-bottom: 14px;

            &:first-child {
                margin-bottom: 10px;
            }
        }

        &-name {
            display: block;
            font-size: toRem(16);
            font-weight: 700;
            color: $dark-color;
            padding-left: 60px;
            margin-bottom: 8px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 48px;
                height: 48px;
                left: 0;
            }

            &-1::before {
                background: url(/src/assets/images/developers-person-1.png);
            }

            &-2::before {
                background: url(/src/assets/images/developers-person-2.png);
            }

            &-3::before {
                background: url(/src/assets/images/developers-person-3.png);
            }
        }

        &-proffesion {
            padding-left: 60px;
            font-size: toRem(16);
            color: $dark-color;
            display: block;
            margin-bottom: 8px;
        }

        &-nickname {
            padding-left: 60px;
            font-size: toRem(16);
            font-weight: 700;
            color: $dark-color;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        gap: 20px;

        @include a (tablet-xl) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include a (tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include a (mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}